body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.technology-li {
  list-style-type: none;
}

.nav-li {
  list-style-type: none;
  
}

.nav-ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-icon {
  margin-left: 10px;
}

.contact-sec {
  border-bottom: 3px solid grey;
  /* display: inline-block; */
  width: 40%;
  display: flex;
}

.resume {
  max-width: 60%;
  max-height: 50%;
}